input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

button {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #999;
    outline: none;
}

button:active {
    transform: translateY(4px);
    outline: none;
}