
.FileUploadContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    border-style: dashed;
    border-radius: 10%;
    border-color: gray;
    padding: 10px;
    max-width: 33%;
}

.UploadIcon {
    align-self: center;
    width: 35%;
}

.DragAndDropText {
    font-family: Tahoma,Verdana,sans-serif;
    font-size: 1.5vw;
    text-align: center;
}