
.ImageDisplayContainer {
    position: relative;
    align-self: center;
    align-items: center;
}

.ImageDisplay {
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    border-style: solid;
}