
.UploadButton {
    background-color: transparent;
    border: none;
}

.UploadButton:hover {
    opacity: 0.4;
}

.UploadButton:active {
    opacity: 0.2;
}

.LegoBrick {
    position: relative;
}

.ImageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Tahoma,Verdana,sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
}